  <header><h1>K9-Express</h1></header>
   <div class="Locations"></div>
   <h2> Every Dog needs a home</h2>

   <h3> This app helps people look for dogs in need of love and companionship.</h3>

   <form id="search">
     <input type="search" placeholder="Search for a DOG...">
     <input type="submit" value="Submit">
   </form>
