
body {
  background-color: skyblue;
  padding-top: 70px;
}

h1 {
  font-family: Arial;
  text-align: center;
  font color: gold;

}

h2 {
  font-family: Arial;
  font color: gold;
}

h3 {
  font-family: Arial;
  font color: gold;
}

li {
  display: inline;

}

nav {
  margin-bottom: 80px;
}
